body{
    background-blend-mode:multiply ;
    background:url(teddybear.jpg);
    background-size:cover;
    font-family: poppins;


    }
  
  
  nav{
  height: 95px;
  width: 100%;
  
  
  
    }
  
    .logo {
      position: relative;
      height: 180px;
      right: 5px;
      left: 5px;
      bottom: 37px;
      width: 180px;
      float:left;
    }
  
  
    nav ul{
      float: right;
      margin-right:20px;
    }
  
    nav ul li{
  display: inline-block;
  line-height: 80px;
  padding:12px;
  
    }
  
    nav ul li a{
      color: #705430;
      font-size: 20px;
      text-decoration: none;
    }
  
    nav ul li a:hover{
      color:burlywood;
    }
  
  .content{
      margin-top: 15%;
      margin-left: 10%;
  }
  
    .content h1{
      font-size: 50px;
      font-weight: 600;
      margin-top:24px;
      margin-bottom: 15px;
      color:#75552b
    }
  
    .content p{
      font-size: 25px;
      color:rgb(152, 122, 96);
      padding: 10px;
    }
  
  .content a{
      display: inline-block;
      background: #d2adb1;
      border-radius: 6px;
      box-sizing: border-box;
      padding : 10px 25px;
      text-decoration : none;
      color: #fff;
     
    }
    .content a:hover{
      color: #75552b;
    }
  
    .contact-us{
      /*font-family: 'Poppins', sans-serif;*/
      box-sizing: border-box;
      margin-top: 500px;
      position: relative;
      min-height: 100vh;
      padding: 50px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-size: cover;
    }
  
    .contact-us .contact{
  
      max-width: 800px;
      text-align: center ;
      margin-right: 400px
  
  
    }
  
  .contact-us .contact h2{
      font-size: 36px;
      font-weight:500;
      color: #4a361b
   
    }
  
    .container2{
  
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  
    }
  
    .container2 .contactInfo{
      width: 50%;
      display: flex;
      flex-direction: column;
  
    }
  
    .container2 .contactInfo .box{
  
      position: relative;
      padding: 20px 0;
      display: flex;
    }
  
    .container2 .contactInfo .box .icon{
  
      min-width: 60px;
      height: 60px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 22px;
  
  
    }
  
  
    .container2 .contactInfo .box .text{
  
      display: flex;
      margin-left: 20px;
      font-size: 16px;
      color: #000;
      flex-direction: column;
      font-weight: 300;
    }
  
    .container2 .contactInfo .box .text h3{
  
      font-weight: 500;
      color:#75552b
    }
  
    .contactForm{
  
      width: 40%;
      padding: 40px;
      background: #edeae2;
  
    }
  
    .contactForm h2{
  
      font-size: 30px;
      color: #333;
      font-weight: 500;
  
    }
  
    .contactForm .inputBox{
  
      position: relative;
      width: 100%;
      margin-top: 10px;
    }
  
    .contactForm .inputBox input,
    .contactForm .inputBox textarea{
  
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      border: none;
      border-bottom: 2px solid #333;
      outline: none;
      resize: none;
  
    }
  
    .contactForm .inputBox .span{
  
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 0.5s;
      color:#666;
      
  
    }
  
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span{
  
      color: #d2adb1;
      font-size: 12px;
      transform: translateY(-20px);
  
    }
  
    .contactForm .inputBox input[type ="submit"]{
  
      width: 100px;
      background: #d2adb1;
      border: none;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
  
    }
  




   
.footer{
margin-top: 800px;
width:100%;
padding: 100px 15%;
background: #d7b593;
color:#75552b;
/* display: flex; */

}

.footer div{

text-align: center;
}

.col-2{
flex-grow: 2;
}


.footer div h3{

font-weight: 300;
margin-bottom: 30px;
letter-spacing: 1px;
}



.col-1 a{
display: block;
text-decoration: none;
color:#75552b;
margin-bottom: 10px;
}

.col-1 a:hover{
color: #fff;
}

form input{
 width: 400px;
 height: 45px;
 text-align: center;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
   border: none; 
}


form button{

background: transparent;
border: 2px solid #fff;
color: #fff;
border-radius: 30px;
padding: 10px 30px;
font-size: 15px;
cursor: pointer;


}



.social-icons{
margin-top: 30px;
}

.social-icons i{
font-size: 22px;
margin: 10px;
cursor: pointer;
}

.col-3 a{
color:#75552b;
}



.col-3 a:hover{
color: #fff;
}









/*===========================================================*/




*{
  margin: 0px;
  padding: 0px;
   font-family: poppins;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}












  





/* end navigation  and footer */




.rate{
position:absolute;

top:50%;

left:50%;

transform:translate(-50%-50%)rotateY(180deg);


display:flex;



}


.rate input{


display:none;



}


.rate label{
display:block;

cursor:pointer;


width:50px;

/* background:rgba(204, 204, 204, 0); */


}


.rate label:before{


content: '\f005';

font-family: fontAwesome;

position: relative;
display: block;
font-size: 50px;

color:rgba(128, 128, 128, 0.157);

}

.rate label:after{


    content: '\f005';
    
    font-family: fontAwesome;
    
    position: absolute;
    display: block;
    font-size: 50px;
    
    color:yellow;
    top:0;

    opacity:1;
    transition: .5s;

    text-shadow: 0 2px 5px rgba(0,0,0,.5);
    
    }


    .rate label:hover:after,

    .rate label:hover ~ label:after,

    .rate input:checked ~label:after


    {


        opacity: 1;





    }