
body{
  background-blend-mode:multiply ;
  background: url(teddybear.jpg);
  background-size:cover;
  
    color: #75552b;
    font-family: Calibri;
 background-color:#FFF5DE ;
}

.logo {
  position: relative;
  height: 180px;
  bottom: 50px;
  width: 180px;
  float:inline-start;
}


ul.horizontalmenu{
    
    float:right;
    position:relative;
    margin-top: 30px;
    list-style-type: none; 
   
} 

.menu{
    display: inline;
    margin: 10px;
    padding: 5px;
    margin-top: 0px;
    font-weight: bold;
    list-style-type: none; 
    }
    li.menu a{
        font-size: 20px;
        text-decoration: none;
        color: #75552b;
    }
    .menu:hover{
      border:rgba(222, 184, 135, 0.829) ;
      padding: 5px;
        display:inline-block;
        background-color:rgba(222, 184, 135, 0.842);
    }

    ul.servicesAsTable{
        
        margin: 100px;
        margin-top: 100px;
        margin-bottom: 200px;
        list-style-type: none;   
    }
    
    .servicesAsTable p{
      font-weight: bold;
        margin: 10px;
        font-size: x-large;
        text-align: center;
        color:  #FFF5DE;
        padding: 25px;
        border-radius: 5px;
        background-color:#75552b;
       
    }

    .servicesAsTable li{
        display: block;
        font-size: 20px;
        text-align: center;
        padding: 20px;
        border-bottom: solid 5px  #ac8858;
        background-color: #FFF5DE;
        opacity: 0.8;
        margin-left: 10px;
        margin-right: 10px;
        
      }
      .servicesAsTable li:hover{
        background-color:#ccad85;
      }
      .servicesAsTable li a{
        text-decoration: none;
        color: #75552b;
      }
      
      .dropdown ul{
     display: none;
     list-style-type: none; 
      }
      .dropdown:hover ul{
      display: block;
      }
      .dropdown ul li{
        border: 0px solid;
        background-color:#FFF5DE;
        
      }
      .dropdown ul li:hover{ 
        background-color:burlywood;
        
      }
      .currentJob table , .prevJob table{
        width:80%;
        margin: 120px; 
      }
       .prevJob table tr td, .currentJob table tr td{
        background-color:#FFF5DE;
        color:#75552b;
        font-size: 20px;
        padding: 10px;
      }
      .currentJob table tr th , .prevJob table tr th {
        font-size: 20px;
        padding: 10px;
        background-color:  #bc9056;
        color:#FFF5DE ;}

        .currentJob table tr:hover , .prevJob table tr:hover{
          background-color: #c4ab88d6;
          opacity: 0.5;
        }
        caption{
          font-weight: 800;
          font-size: 30px;
          padding: 10px;
          text-align: left;
        }

      
