
body{
    color: #75552b;
    font-family: Calibri;
 background-color:#FFF5DE ;
}

.logo {
  position: relative;
  height: 180px;
  bottom: 50px;
  width: 180px;
  float:inline-start;
}


ul.horizontalmenu{
  border-radius: 5px;
    background-color:#f0ddb0d4 ;
    float:right;
    position:relative;
    margin-top: 30px;
    list-style-type: none; 
    padding: 5px;
} 

.menu{
    display: inline;
    margin: 10px;
    padding: 5px;
    margin-top: 0px;
    font-weight: bold;
    list-style-type: none; 
    }
    li.menu a{
        font-size: 20px;
        text-decoration: none;
        color: #75552b;
    }
    .menu:hover{
      border:rgba(222, 184, 135, 0.829) ;
      padding: 5px;
        display:inline-block;
        background-color:rgba(222, 184, 135, 0.842);
    }

    ul.servicesAsTable{
        
        margin: 80px;
        margin-top: 100px;
        margin-bottom: 200px;
        list-style-type: none;   
    }
    
    .servicesAsTable p{
      font-weight: bold;
        margin: 10px;
        font-size: x-large;
        text-align: center;
        color: #75552b;
        padding: 25px;
        border: #ac8858 groove 2px;
        border-radius: 5px;
        background-color: #ccad85;
        opacity: 0.5;
    }

    .servicesAsTable li{
        display: block;
        font-size: 20px;
        text-align: center;
        padding: 20px;
        border-bottom: solid 5px  #ac8858;
        
      }
      .servicesAsTable li:hover{
        background-color:#ccad85;
      }
      .servicesAsTable li a{
        text-decoration: none;
        color: #75552b;
      }
      
      .dropdown ul{
     display: none;
     list-style-type: none; 
      }
      .dropdown:hover ul{
        display: block;  
      }
      .dropdown ul li{
        border: 0px solid;
        background-color: burlywood;
        font-size: medium;
        padding:5px;
        margin: 0px;
      }
      .dropdown ul li:hover{ 
        background-color:rgb(219, 172, 112);
        
      }
      .currentJob table , .prevJob table{
        border-collapse: collapse;
        width:80%;
        margin: 120px; 
      }
      .currentJob table tr th , .prevJob table tr th{
        background-color:#FFF5DE;
        color:#75552b;
        font-size: 20px;
        padding: 10px;
      }
      .currentJob table tr:nth-child(odd) , .prevJob table tr:nth-child(odd) {
        background-color:  #bc9056;
        color:#FFF5DE ;}

        .currentJob table tr:hover , .prevJob table tr:hover{
          background-color: #786852b7;
          opacity: 0.5;
        }
        caption{
          font-weight: 800;
          font-size: 30px;
          padding: 10px;
          text-align: left;
        }

      
