




body {
  background-blend-mode:multiply ;
  background: url(teddybear.jpg);
  background-size:cover;
    background-color:#FFF5DE ;
    font-family: Calibri;
  }


nav{

height: 85px;
width: 100%;
  }

  .logo {
    position: relative;
    height: 180px;
    left: 0px;
    bottom: 50px;
    width: 180px;
    float:left;
  }


  nav ul{
    float: right;
    margin-right:20px;
  }

  nav ul li{
display: inline-block;
line-height: 80px;
padding:12px;

  }

  nav ul li a{
    color: #705430;
    font-size: 20px;
    text-decoration: none;
  }

  nav ul li a:hover{
    color:burlywood;
  }

.content{
    margin-top: 15%;
    margin-left: 10%;
}

  .content h1{
    font-size: 50px;
    font-weight: 100px;
    margin-top:24px;
    margin-bottom: 15px;
    color:#75552b
  }

  .content p{
    font-size: 25px;
    color:rgb(152, 122, 96)
  }

.content a{
    display: inline-block;
    background: #d2adb1;
    border-radius: 6px;
    box-sizing: border-box;
    padding : 10px 25px;
    text-decoration : none;
    color: #fff;
   
  }
  .content a:hover{
    color: #75552b;
  }

  .contact-us{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin-top: 500px;
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }

  .contact-us .contact{

    max-width: 800px;
    text-align: center ;
    margin-right: 400px


  }

  .contact-us .contact h2{
    font-size: 36px;
    font-weight:500;
    color: #4a361b
 
  }

  .container2{

    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

  }

  .container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;

  }

  .container2 .contactInfo .box{

    position: relative;
    padding: 20px 0;
    display: flex;
  }

  .container2 .contactInfo .box .icon{

    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;


  }


  .container2 .contactInfo .box .text{

    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
  }

  .container2 .contactInfo .box .text h3{

    font-weight: 500;
    color:#75552b
  }

  .contactForm{

    width: 40%;
    padding: 40px;
    background: #edeae2;

  }

  .contactForm h2{

    font-size: 30px;
    color: #333;
    font-weight: 500;

  }

  .contactForm .inputBox{

    position: relative;
    width: 100%;
    margin-top: 10px;
  }

  .contactForm .inputBox input,
  .contactForm .inputBox textarea{

    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

  }

  .contactForm .inputBox .span{

    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
    

  }

  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{

    color: #d2adb1;
    font-size: 12px;
    transform: translateY(-20px);

  }

  .contactForm .inputBox input[type ="submit"]{

    width: 100px;
    background: #d2adb1;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
  }